<section class="main">
    <header>
        <h1 class="logo">LIKELION</h1>
	    <ul class="menu">
		    <li><a href="/">HOME</a></li>
		    <li><a href="#">CONTACT</a></li>
		    <li><a href="#">ABOUT</a></li>
		    <li><a href="#">ME</a></li>
	    </ul>
    </header>
    <section class = "landing">
    	<div class="landing_content">
    	    <h1 class="landing_title">시험보고오니</h1>
    		<h2 class="landing_subtitile">기억이 안나요..</h2>
    		<form action="/page" method="get">
                <button type="submit" class="btn btn-primary" id="introbtn">Introduction</button>
            </form>
    	</div>
    </section>
</section>

<section class = "bottom">
    <h1 class="port">About Me</h1>
    <div class="self-pic"></div>
</section>