<class="page">
    <ul class="page_header">
        <li id="start_li"><img src="https://image.flaticon.com/icons/svg/377/377042.svg" WIDTH=50 HEIGH=50></li>
        <li id="header_title">Son Jin Ah</li>
        <li><img src="https://image.flaticon.com/icons/svg/377/377042.svg" WIDTH=50 HEIGH=50></li>
    </ul>
    <ul class="page_img">
        <li class="img_content_1"></li>
        <li class="img_content_2"></li>
        <li class="img_content_3"></li>
        
    </ul>
    <section class="myinfo">
        <div class="info1"><div class="inside"><strong>취미는?</strong></div><div class="inside"> 독서입니다. 책은 마음의 양식이지요.</div></div>
        <div class="info2"><div class="inside"><strong>특기는?</strong></div> <div class="inside">요리입니다. 건강한 음식으로 건강한 생각을 키웁니다.</div></div>
        <div class="info3"><div class="inside"><strong>여가시간에는?</strong></div><div class="inside"> 운동을 합니다. 하루에 한번씩 나이키 어플리케이션으로 건강한 육체를 만들어갑니다.</div></div>
    </section>
</class>


<form action="/goback" method="get">
    <button type="submit" class="btn btn-primary" id="gobackbtn">Goback</button>
</form>